.App {
  text-align: center;
  padding: 50px 0;
  background-color: #00ff3782;
  height: 87vh;
}
button {
  width: 180px;
  font-size: 1.1em;
  font-weight: 600;
  padding: 15px;
  background-color: #B4A8EB;
  border-radius: 2px;
  border: 2px solid #B4A8EB;
  cursor: pointer;
  transition: 0.25s;
}
button:hover {
  width: 180px;
  font-size: 1.1em;
  padding: 15px;
  background-color: #B4A8EB;
  border-radius: 2px;
  border: 2px solid #8f82c7;
  cursor: pointer;
}
button:disabled {
  background-color: #c9c9c9;
  color: rgb(139 139 139);
  border-color: #c9c9c9;
  cursor: not-allowed;
}

video {
  border-radius: 10px;
  padding-bottom: 30px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.video-wrapper {
  margin: auto;
  padding-top:30px;
}

.react_time_range__time_range_container {
  padding: 30px 0 0 !important;
  height: 70px;
  width: 100% !important;
  box-sizing: border-box;
}

.button-wrapper {
  display: flex;
  width: 60%;
  justify-content: space-between;
  margin: 50px auto 0;
}

.video-btn-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.react_time_range__track__disabled {
  background: rgba(214, 0, 11, 0.5) !important;
  border: 0 !important;
}
.react_time_range__tick_label{
  color: #fff;
}

.trimmed-video-box {
  padding: 10px;
  margin-top: 20px;
  background-color: rgba(214, 0, 11, 0.6);
  width: 150px;
  margin-right: 15px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  position: relative;
}

.flex-center {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.selected-video-box {
  background-color: rgba(214, 0, 11, 1);
}

.cross-icon {
  position: absolute;
  right: -13px;
  top: -13px;
}
.progress-bar-wrapper {
  margin-top: 20px;
}
.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.m-0 {
  margin: 0;
}
.custom-progress {
  height: 50px;
  position: absolute;
  bottom: 15px;
}

.progress-timeline-wrapper {
  margin-top: 40px;
  position: relative;
}

.note-sign {
  color: rgba(214, 0, 11, 0.8);
  font-size: 0.825em;
}

.container {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  background-color: #15092A;
  min-height: 100vh;
}

.header {
  background-color: #3C2B5B;
  height: 80px;
  color:white;
  display:flex;
  align-items: center;
  padding-left: 30px;
  font-size: 30px;
}

.w-200 {
  width: 200px !important;
}
.mv-20 {
  margin-bottom: 20px;
  margin-top: 20px;
}
.recorder-screen {
  opacity: 0;
  transform: translateY(-100px);
  transition: opacity 1s ease, transform 1s ease;
}

.recorder-screen.visible {
  opacity: 1;
  transform: translateY(0);
}

.recorder-screen.hide {
  opacity: 0;
  transform: translateY(-100px);
}

.recorder_container{
  margin:  auto;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.button__wrapper {
  display: flex;
}
.finish_btn{
margin-left: 20px;
}

.video_duration{
  position: absolute;
  bottom: 79px;
  right: 20px;
  border-radius: 50%;
  border: 1px solid #fff;
  width:90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 16px;  
}
.video_duration span {
  color: red;
  margin-right: 5px;
  font-weight: 700;
  
}
.webcam_video {
  position: relative;
  
}

.react_time_range__rail__inner {
  height: 40px;
  border-radius: 4px;
  background-color: rgb(60 43 91);
}
.react_time_range__handle_container {
  height: 30px;
}
.react_time_range__handle_container, .react_time_range__handle_container__disabled {
  height:30px
}

.react_time_range__track, .react_time_range__track__disabled{
  height:40px
}

.vidoe_edit_wrapper{
  position: relative;
  ;
}

.progress-bar-wrapper{
  height: 100px;
  width: 100px;
  position: absolute;
  top:100px;
  left:45%;
  text-align:center
}

.video__Wrapper {
  height: 450px;
  width: 800px;
  position: absolute;
  background-color: #141414a6;
}

.progress-bar-wrapper p{
  color: #fff;
  
}